doctype html

html(lang='en')
  head
    title= title
  body
    h1 Recording Status
    if status
      p Recording is ongoing.
    else
      p Not recording.

    form(action='/add_movie', method='POST')
    p Title:
      input(type='text', name='title', value='')
    p Year:
      input(type='text', name='year', value='')
    p Imdb:
      input(type='text', name='imdb', value='')
    input(type='submit', value='Submit')

    table.table.table-striped
      tr
        th Channel Name
        th Start Date
        th End Date

      each job in jobs
        tr
          td= job.channelName
          td= job.startDate
          td= job.endDate
